/** BASIC */
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../images/0003a-background.jpg) repeat top left;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #80795F;
}

h1{
	margin-top: 0px;
	margin-left: 0px;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 25px;
	color: #5E5945;
}

h2{
	margin-top: 0px;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 13px;
	color: #5E5945;
}

hr {
	display: none;
}

p, ol, ul {
	text-align: justify;
	line-height: 160%;
}

ul {
	list-style-type: square;
}

a {
	color: #488081;
}

a:hover {
	text-decoration: none;
}

/** HEADER */

#header {
	float: left;
	width: 180px;
	margin-right: 1px;
	padding: 10px;
}

#header h1 {
	margin: 0px;
	padding-top: 12px;
	text-align: center;
	font-size: 20px;
}

#header h2 {
	margin: 0px;
	text-align: center;
	font-size: 11px;
}

/** MENU */

#menu {
	margin: 20px auto;
	width: 550px;
    padding: 20px 0px 20px 0px;
	background-color: #5E5945;
	font-size: 10px;
	color: #FFFFFF;
}

html>body #menu {
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: inline;
	padding: 20px;
	background-color: #5E5945;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	padding: 20px;
	background-color: #AFC797;
	text-decoration: none;
	color: #5E5945;
}

/** CONTENT */

#content {
	margin: auto;
	width: 550px;
	padding: 20px;
	background-color: #FAF6F6;
	border-left: 1px solid #5E5945;
	border-right: 1px solid #5E5945;
}

#content h2 {
}

#left {
	 float: left;
	 margin: 0px auto;
	 padding: 0px;
	 width: 360px;
}

#right {
	 float: right;
	 margin: 0px;
	 padding: 10px;
	 width: 150px;
   	 border: 1px dashed #5E5945;
}

#right2 {
	 float: right;
	 margin: 5px 0px 10px 0px; 
	 padding: 10px;
	 width: 150px;
   	 border: 1px dashed #5E5945;
   	 clear: both;
}

/** FOOTER */

#footer {
	clear: both;
}

#footer p {
	margin: 0px auto;
	width: 550px;
    padding: 10px 0px 10px 0px;
	background-color: #5E5945;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
}